.Container {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 10px;
  border-bottom: 1px solid #efeeee;
  cursor: pointer;

  &.Open {
    box-shadow: 2px 2px 9px #b1acac;
    &:first-child {
      margin-top: 0px;
    }

    margin: 16px 0;
    display: flex;
    transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  &.Close {
    margin: 0px;
    transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
}
