.Container {
  display: flex;
  align-items: baseline;

  select {
    min-width: 200px;
    height: 37px;
    padding: 5px 35px 5px 10px;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: white;
    font-size: 14px;
    color: #525252;
    margin-left: 10px;
    outline: none;
  }
}
