.Header {
  background-color: white;
  width: 100%;
  height: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  padding: 0 7px;

  .Angle {
    color: rgba(0, 0, 0, 0.54);
    font-size: 18px;
    cursor: pointer;
    margin-left: 6px;
  }
}