@import '~styles/app';

.CalendarBtn {
  display: flex;
  width: 115px;
  float: right;
  width: 135px;
  flex-grow: inherit;
  text-transform: none;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.Test {
  width: 500px;
  height: 500px;
}
