@import '~styles/app';
.ModalContent {
  background: white;
  width: 450px;
  min-height: 200px;
  margin: auto;
  border-radius: 7px;
  padding: 20px;
  z-index: 999999;

  position: fixed;
  background: white;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.ModalOpen {
    animation: slideDown 0.5s ease-out forwards;
  }

  &.ModalClose {
    animation: slideUp 0.5s ease-out forwards;
  }

  @keyframes slideDown {
    from {
      top: -300px;
    }
    to {
      top: 50%;
    }
  }

  @keyframes slideUp {
    from {
      top: 50%;
    }
    to {
      top: -350px;
    }
  }

  .Close {
    width: 34px;
    height: 33px;
    border: 2px solid white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    float: left;
    font-size: 13px;
    margin-top: -6px;
    margin-left: -9px;
    margin-right: 4px;
    font-weight: bold;
    &:hover {
      box-shadow: 1px 1px 3px 0px #b3b3b3;
    }
    .Icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .Header {
    font-weight: 400;
    padding-bottom: 5px;
    font-weight: bold;
    &.HeaderError {
      color: $warn-color;
    }
    &.HeaderWarn {
      color: $accent-color;
    }
    &.HeaderSuccess {
      color: $primary-color;
    }
  }

  .Content {
    font-size: 14px;
    margin-top: 10px;
    text-align: justify;
  }
}
