@import '~styles/app';
.ModalContent {
  background: white;
  width: 350px;
  height: 200px;
  margin: auto;
  border-radius: 7px;
  padding: 20px;
  position: fixed;
  top: calc(50% - 100px);
  left: calc(50% - 175px);
  z-index: 999999;

  &.ModalOpen {
    animation: slideDown 1s ease-out forwards;
  }

  &.ModalClose {
    animation: slideUp 1s ease-out forwards;
  }

  @keyframes slideDown {
    0% {
      top: -20%;
    }

    50% {
      top: calc(50% - (100px - 20px));
    }

    100% {
      top: calc(50% - 100px);
    }
  }

  @keyframes slideUp {
    0% {
      top: calc(50% - 100px);
    }

    50% {
      top: calc(50% - 80px);
    }

    100% {
      top: -20%;
    }
  }

  .Close {
    width: 25px;
    height: 25px;
    background-color: #3a3939;
    border: 2px solid white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    color: white;
    float: right;
    font-size: 10px;
    margin-top: -29px;
    margin-right: -29px;
  }

  .Header {
    border-bottom: 1px solid #ededed;
    font-weight: 400;
    padding-bottom: 5px;
    &.HeaderError {
      color: $warn-color;
    }
    &.HeaderWarn {
      color: $accent-color;
    }
    &.HeaderSuccess {
      color: $primary-color;
    }
  }

  .Content {
    font-size: 14px;
    margin-top: 10px;
    text-align: justify;
  }
}
