$primary-color: #e91e63;
$accent-color: #307a8d;
$warn-color: #f44336;
$text-color: #fff;
$highlight-color: orange;
$placeholder-padding: 8px;
$placeholder-font-size: 16px;
$placeholder-font-size-small: 14px;
$placeholder-transition: 200ms ease-in-out;
$input-font-size: 16px;
$input-top: 15px;
$input-height: 30px;
$input-border-color: grey;