.li {
    float: left;
    .a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        &::hover:not(.active) {
            transition: 1s;
            opacity: .65;
            color: white;
        }
    }
    .active {
        transition: 0.5s;
        opacity: 0.8;
    }
}

