.Modal {
    height: 420px;

    form {
        position: relative;
        padding: 0;
        top: 0;

        div {
            margin-top: 0
        }

        button {
            margin-top: 20px;
        }

    }
}