@import '~styles/app';

.navigation {
    padding: 0 10px;
    height: 48px;
    background-color: $accent-color;
    color: $text-color;

    ul {
        list-style-type: none;
        width: 100%;
    }

    &.open {
        transition: all 0.5s ease-out;
        height: 1024px;
        background-color: $accent-color;

        .navigationItems {
            display: block;
            width: 100%;

            ul {
                width: 100%;
                padding: 0;
                position: relative;

                li {
                    float: inherit;
                    border-bottom: 1px solid #fff;

                    &:first-child {
                        border-top: 1px solid #fff;
                    }
                }
            }
        }
    }

    &.close {
        transition: all 0.5s ease-out;
        height: 48px;
        background-color: $accent-color;
    }

    .navigationItems {
        display: none;
    }

    .navigationMenu {
        float: left;
    }

    .navigationLogo {
        width: calc(100% - 17px);

        img {
            margin: auto;
            display: block;
        }
    }
}

@media only screen and (min-width: 768px) {

    .navigation,
    .navigation.open,
    .navigation.close {
        height: 48px;
        padding: 0 10px 0 0;
        background-color: $accent-color;

        .navigationMenu {
            display: none;
        }

        .navigationLogo {
            float: left;
            display: block;
            width: 60px;
            border-right: 1px solid white;
        }

        .navigationItems {
            display: block;
            float: left;
            width: calc(100% - 70px);

            ul {
                position: fixed;
                margin: 0;
                padding: 0;
                top: 0;
                overflow: hidden;
                float: left;

                li {
                    border-bottom: 0px;

                    &:first-child {
                        border-top: 0px;
                    }
                }

            }
        }

    }
}