@import '~styles/app';
.Modal {
  height: 260px;
  .Form {
    position: absolute;
    top: 10px;
    left: 0;
    .ButtonContainer {
      display: flex;
      margin-top: 20px;
    }
    .Error {
      color: $warn-color;
      font-size: 12px;
      margin-top: 5px;
      font-weight: bold;
    }
  }
}
