.Container {
  width: calc(100% - 215px);
  position: relative;
  min-height: 0 !important;
  z-index: 1;
  height: calc(100vh - 75px);
  float: right;
  overflow: scroll;
}

.PaperWrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding: 20px;
  min-height: 100%;
  background-image: -webkit-linear-gradient(
      45deg,
      rgb(245, 245, 245) 30px,
      rgb(245, 245, 245) 30px
    ),
    -webkit-linear-gradient(135deg, transparent 30px, rgb(245, 245, 245) 30px),
    -webkit-linear-gradient(225deg, rgb(245, 245, 245) 30px, rgb(245, 245, 245)
          30px),
    -webkit-linear-gradient(315deg, transparent 30px, rgb(245, 245, 245) 30px);
  background-size: 52% 52%;
  background-position: left bottom, right bottom, right top, left top;
  background-repeat: no-repeat;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-width: 0 42px 42px 0;
    border-style: solid;
    border-color: #ffffff rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.3);
    transform: rotate(-90deg);
  }

  .PaperTop {
    height: 40px;
    border-bottom: 1px solid #dddddd;
    width: calc(100% + 40px);
    margin-bottom: 10px;
    .Title {
      font-family: 'Open Sans';
      font-size: 16px;
      font-weight: normal;
      text-transform: uppercase;
      color: rgb(158, 167, 179) !important;
      margin: 0px 0px 0px 60px;
      display: flex;
      align-items: center;
      i {
        width: 16px;
        height: 22px;
        margin-right: 10px;
      }
    }
    .Divider {
      height: 94px;
      left: 230px;
      position: absolute;
      top: -35px;
      width: 3px;
      border-right: 1px dashed #cccccc;
    }
  }
}

// to be removed
.LeftBarContainer {
  height: auto;
  position: absolute;
  top: 20px;
  width: 215px;
  .Logo {
    left: 12px;
    position: relative;
    top: -11px;
    max-width: 191px;
    img {
      margin-left: 24px;
    }
  }
  .Toggle {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    display: block;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 8px;
    width: 30px;
    font-size: 14px;
    .Menu {
      font-family: entypo, sans-serif;
      &::before {
        content: '\2630';
      }
    }
  }

  .SideNav {
    height: 470px;
    width: 100%;
    ul {
      margin: 10px;
      font-size: 14px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px;
      line-height: 0.5em !important;
      padding: 0px;
      list-style: none !important;
      &.TopNav {
        font-size: 14px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px;
        line-height: 0.5em !important;
        list-style: none !important;
      }
      &.MenuLeftNest {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
        border-radius: 3px;
      }
      li {
        font-size: 20px;
        line-height: 0;
        list-style: none outside none;
        margin: 0;
        text-align: left;
        color: #ffffff;
        i {
          font-size: 22px;
          font-style: normal;
          left: -6px;
          line-height: 15px;
          position: relative;
          width: 20px;
          top: 7px;
        }
        span {
          left: 10px;
          position: relative;
        }
        a {
          display: block;
          font-size: 13px;
          line-height: 25px;
          text-transform: capitalize;
          color: rgb(255, 255, 255) !important;
          list-style: none outside none;
          padding: 10px 10px 10px 30px;
          text-decoration: none;
          &:hover {
            background-color: rgba(0, 0, 0, 0.2);
            color: white !important;
            text-shadow: none;
            border-left: 2px solid #ffffff;
            padding-left: 28px;
            position: relative;
          }
        }
      }
    }
  }
}
