.logoContainer {
    a{
        display: block;
        .logo {
            background-repeat: no-repeat;
            background-position-x: center;
            width: 48px;
            height: 48px;
        }
    }
    
}