.logoContainer {
    a {
        height: 48px;
        display: flex;

        .logo {
            background-repeat: no-repeat;
            background-position-x: center;
            height: 40px;
        }
    }

}