.CalendarContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 220px;


    select {
        width: 135px;
        padding: 5px 35px 5px 10px;
        border: 1px solid #ccc;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: white;
        box-shadow: 3px 2px 6px 1px #e6e1e1;
        font-size: 14px;
        color: #525252;
    }


    .MonthsContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .DaysContainer {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}