@import '~styles/app';

.Content {
  display: flex;
  width: 320px;
  height: 300px;
  background-color: white;
  flex-direction: column;
  font-size: 14px;

  .Body {
    width: 100%;
    display: flex;
    flex-direction: column;
    .WeekDaysContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 2px 20px 0 20px;
    }
  }
}
